In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data= pd.read_csv("Crude_Oil_Prices_Daily.csv")
data

            Date  Closing Value
0     02-01-1986          25.56
1     03-01-1986          26.00
2     06-01-1986          26.53
3     07-01-1986          25.85
4     08-01-1986          25.87
...          ...            ...
8218  03-07-2018          74.19
8219  04-07-2018            NaN
8220  05-07-2018          73.05
8221  06-07-2018          73.78
8222  09-07-2018          73.93

[8223 rows x 2 columns]

In [3]:
data.isnull().any

<bound method NDFrame._add_numeric_operations.<locals>.any of        Date  Closing Value
0     False          False
1     False          False
2     False          False
3     False          False
4     False          False
...     ...            ...
8218  False          False
8219  False           True
8220  False          False
8221  False          False
8222  False          False

[8223 rows x 2 columns]>

In [5]:
data.isnull().sum()

Date             0
Closing Value    7
dtype: int64

In [6]:
data.dropna(axis=0,inplace=True)

In [7]:
data.isnull().sum()

Date             0
Closing Value    0
dtype: int64

In [8]:
data_oil=data.reset_index()['Closing Value']
data_oil

0       25.56
1       26.00
2       26.53
3       25.85
4       25.87
        ...
8211    73.89
8212    74.19
8213    73.05
8214    73.78
8215    73.93
Name: Closing Value, Length: 8216, dtype: float64

In [11]:
!pip install sklearn

Collecting sklearn
  Downloading sklearn-0.0.post1.tar.gz (3.6 kB)
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py): started
  Building wheel for sklearn (setup.py): finished with status 'done'
  Created wheel for sklearn: filename=sklearn-0.0.post1-py3-none-any.whl size=2959 sha256=ee7fe9babe4ddf7d050e52819c121a28fc6d413fc1b501e6a4356c76f7ad04de
  Stored in directory: c:\users\subhiksha venunath\appdata\local\pip\cache\wheels\f8\e0\3d\9d0c2020c44a519b9f02ab4fa6d2a4a996c98d79ab2f569fa1
Successfully built sklearn
Installing collected packages: sklearn
Successfully installed sklearn-0.0.post1

In [14]:
from sklearn.preprocessing import MinMaxScaler
Scaler=MinMaxScaler(feature_range=(0,1))
data_oil=Scaler.fit_transform(np.array(data_oil).reshape(-1,1))

In [15]:
data_oil

array([[0.11335703],
       [0.11661484],
       [0.12053902],
       ...,
       [0.46497853],
       [0.47038353],
       [0.47149415]])