In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data= pd.read_csv("Crude_Oil_Prices_Daily.csv")
data

            Date  Closing Value
0     02-01-1986          25.56
1     03-01-1986          26.00
2     06-01-1986          26.53
3     07-01-1986          25.85
4     08-01-1986          25.87
...          ...            ...
8218  03-07-2018          74.19
8219  04-07-2018            NaN
8220  05-07-2018          73.05
8221  06-07-2018          73.78
8222  09-07-2018          73.93

[8223 rows x 2 columns]