In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data= pd.read_csv("Crude_Oil_Prices_Daily.csv")
data

            Date  Closing Value
0     02-01-1986          25.56
1     03-01-1986          26.00
2     06-01-1986          26.53
3     07-01-1986          25.85
4     08-01-1986          25.87
...          ...            ...
8218  03-07-2018          74.19
8219  04-07-2018            NaN
8220  05-07-2018          73.05
8221  06-07-2018          73.78
8222  09-07-2018          73.93

[8223 rows x 2 columns]

In [3]:
data.isnull().any

<bound method NDFrame._add_numeric_operations.<locals>.any of        Date  Closing Value
0     False          False
1     False          False
2     False          False
3     False          False
4     False          False
...     ...            ...
8218  False          False
8219  False           True
8220  False          False
8221  False          False
8222  False          False

[8223 rows x 2 columns]>

In [5]:
data.isnull().sum()

Date             0
Closing Value    7
dtype: int64

In [6]:
data.dropna(axis=0,inplace=True)

In [7]:
data.isnull().sum()

Date             0
Closing Value    0
dtype: int64

In [8]:
data_oil=data.reset_index()['Closing Value']
data_oil

0       25.56
1       26.00
2       26.53
3       25.85
4       25.87
        ...
8211    73.89
8212    74.19
8213    73.05
8214    73.78
8215    73.93
Name: Closing Value, Length: 8216, dtype: float64